
body {
  padding-top: 2rem;
  font-weight: 100;
  font-family: "Helvetica Neue", "Calibri Light", Roboto, sans-serif;
}

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

h1, h2, h3 {
  margin-top: 40px;
}

.monospace {
  font-family: "Lucida Console", Monaco, monospace;
  font-weight: 800;
}

.red {
  color: red;
}

.green {
  color: green;
}

.title {
  font-size: 96px;
}

.huge-icon {
  height: 300px;
}

p.large {
  font-size: 1.5em;
}
