@responsive {
  .label {
    padding: 3px 4px 3px 4px;
    font-weight: 100;
    font-size: 0.7rem;
    font-family: "Arial", Arial, sans-serif;
    display: inline;
    margin: 1px;
    text-align: center;
  }
}
